@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    background-color: #F2F5F9;
}

main{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10vh auto 0;
    
}

.homePage{
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: contain;
}

.head{
    position: relative;
}

.cosa{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.info{
    margin-top: -1px;
    margin-bottom: 1px;
    padding: 20px 20PX;
    background-color: #fff;
}

.info h2{
    margin: 0 0 15px 0;
    font-family: 'Poppins', sans-serif;
}

.info p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #677489;
    margin: 0;
}

.contacto{
    background-color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20PX 20px 20px;
    border-radius: 0 0 20px 20px;
}

.contacto .contact{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid #F2F5F9;
}

.contacto div p{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
}

.contacto div .name{
    font-weight: 900;
}

.contacto div .rol{
    color: #677489;
}




